{
    "extends": "koot",
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "amd": true,
        "es6": true,
        "mocha": true,
        "jquery": true,
        "jest": true
    },
    "globals": {
        "__": false,
        "__DEV__": false,
        "__CLIENT__": false,
        "__SERVER__": false,
        "__SPA__": false,
        "__REDUX_STATE__": true,
        "__SERVER_PORT__": false,
        "__KOOT_INJECT_ATTRIBUTE_NAME__": false,
        "__KOOT_INJECT_METAS_START__": false,
        "__KOOT_INJECT_METAS_END__": false,
        "__KOOT_PROJECT_CONFIG_PATHNAME__": false
    }
}
