.sider-header__component {
    height: 56px;
    line-height: 56px;
    background-color: #272b35;
    border-bottom: 1px solid #232730;
    color: #fff;
    width: 100%;
    padding: 0 16px;
    padding-left: 32px;
    clear: both;
    z-index: 10;
    position: relative;
    overflow: hidden;
}