{
    "presets": [
        "react",
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-0"
    ],
    "compact": "auto",
    "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-regenerator"
    ]
}
