@selectNavBackground: rgba(0, 0, 0, 0.75); //下拉背景色

.nav__component {
    height: 100%;
    .pc-nav {
        height: 100%;
        .default-nav-list {
            height: 100%;
        }
        .nav-item {
            height: 100%;
            position: relative;
            cursor: pointer;
            a {
                color: #fff;
                transition: all linear 0.2s;
                &:hover {
                    color: #f0641e;
                }
            }
            > a {
                display: block;
                padding: 0 20px;
                line-height: 40px;
                color: #fff;
                text-decoration: none;
            }

            &:last-child {
                > a {
                    // padding-right: 0;
                }
            }
        }
        .select-nav-wrap {
            white-space: nowrap;
            position: absolute;
            top: 100%;
            left: 0;
            max-height: 0;
            overflow: hidden;
            transition: all ease-out 0.2s;
            background: @selectNavBackground;
            .select-nav-item {
                margin: 8px 20px;
                &:first-child {
                    margin-top: 20px;
                }
                &:last-child {
                    margin-bottom: 20px;
                }
            }
            &:last-child {
                left: auto;
                right: 0;
            }
        }
        .hasSelect {
            margin-right: 8px;
            .select-nav-dropdown-icon {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: -5px;
                transform: translate(0, -50%);
                color: rgba(255, 255, 255, 0.54);
                transition: all linear 0.3s;
            }
            &:hover {
                > a {
                    color: #f0641e;
                }
                .select-nav-wrap {
                    max-height: 500px;
                    transition: all ease-in 0.2s;
                }
                .select-nav-dropdown-icon {
                    transform: translate(0, -50%) rotate(-180deg);
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
    .mobile-nav {
        display: none;
        position: absolute;
        top: 0;
        .nav-item {
            padding: 0 30px;
            min-width: 120px;
            text-align: center;
            a {
                color: rgba(255, 255, 255, 0.6);
                &:hover,
                &.current {
                    color: rgba(255, 255, 255, 1);
                }
            }
            &.active {
                a {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
        .bm-overlay {
            background: rgba(0, 0, 0, 0.5);
        }
        .bm-menu-wrap {
            width: 260px !important;
            background: rgba(245, 247, 251, 1);
            .bm-menu {
                margin-top: 100px;
            }
            .bm-item-list {
                padding-left: 0;
                font-size: 20px;
                line-height: 70px;
            }
            .bm-cross-button {
                top: 20px !important;
                right: 20px !important;
                .bm-cross {
                    height: 24px !important;
                }
            }
            .bm-cross {
                background: #b4b4b5;
            }
            .nav-item {
                outline: none;
                a {
                    color: rgba(74, 74, 74, 1);
                }
            }
        }
        .bm-burger-button {
            position: absolute;
            width: 32px;
            height: 30px;
            right: 24px;
            top: 24px;
            .bm-burger-bars {
                background: #373a47;
                height: 2px !important;
                background: rgba(255, 255, 255, 1);
            }
        }
    }
    @media (max-width: 600px) {
        .pc-nav {
            display: none;
        }
        .mobile-nav {
            display: block;
            .bm-burger-button {
                width: 26px;
                height: 24px;
                right: 0px;
                top: 20px;
            }
        }
    }
}
