.slide__component {
    height: 300px;
    .swiper-container {
        height: 100%;
        overflow: hidden;
    }
    .swiper-wrapper {
        display: flex;
        height: 100%;
        .swiper-slide {
            min-width: 100%;
            font-size: 0.3rem;
            background: red;
        }
    }
    @media (max-width: 600px) {
        &.main {
            padding: 0;
        }
    }
}
