.component {
    height: 300px;
    .swiper-container {
        height: 100%;
        overflow: hidden;
    }
    .swiper-wrapper {
        display: flex;
        height: 100%;
        .swiper-slide {
            min-width: 100%;
            background: yellow;
            &:nth-child(odd) {
                background: red;
            }
        }
    }
}
