.component {
    height: 300px;
    .swiper-container {
        height: 100%;
        overflow: hidden;
    }
    .swiper-wrapper {
        display: flex;
        height: 100%;
        .swiper-slide {
            min-width: 100%;
            border: 1px solid #000;
            font-size: 0.3rem;
        }
    }
}
