@import (less) '~normalize.css/normalize.css';
@import '~vars.less';

// extra resets ---------------------------------------------------------------

*,
*:before,
*:after {
    box-sizing: inherit;
}

button,
input,
optgroup,
option,
select,
textarea {
    font-family: inherit;
}

input,
textarea {
    user-select: auto;
}

// global styles --------------------------------------------------------------

html,
body {
    height: 100%;
}
html {
    box-sizing: border-box;
    color: @color-base;
    font-size: @root-font-size;
    font-family: Roboto, 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue',
        'Helvetica', 'Arial', 'Microsoft YaHei UI', 'Microsoft YaHei',
        'Hiragino Sans GB', sans-serif;
    &[lang^='ja'] {
        font-family: 'Noto Sans JP', 'Lucida Grande',
            'Hiragino Kaku Gothic ProN', Meiryo, Roboto, sans-serif;
    }
}
body {
    font-size: @base-font-size;
    line-height: 1.5em;
}

:first-child {
    margin-top: 0;
}
:last-child {
    margin-bottom: 0;
}

[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}
